<div class="admin_dash_block" id="requests">
    <div class="blockTitle">Customer Requests</div>
    <div class="blockTitle">
        <div class="pname" id="surnam">Project ID</div>
        <div class="pname" id="pname">Customer</div>
        <div class="pvisit" style="margin-left: -8px;">Function</div>

    </div>
    <div id="allorders">
        <div class="dentemrow">
            <div id="projectid" style="display: none;"></div>
            <div class="pname" id="projectnr">AA001</div>
            <div class="pname ">Rexhin Vorpsi</div>
            <div class="pvisit">
                <button id="prbtn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="button">Add Info</button>
            </div>
        </div>
    </div>
</div>
<div class="admin_dash_block" id="completed_projects">
    <div class="blockTitle">Completed Projects</div>
</div>