<div class="popheader" >Add Project</div>
<div class="textinput mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input id="project_name" type="text" class="mdl-textfield__input"/>
    <label class="mdl-textfield__label surname" >Project</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input id="sub_project" type="text" class="mdl-textfield__input"/>
    <label class="mdl-textfield__label surname" >Sub Project</label>
</div>
<button id="postproject" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Add Project</button>
