<div class="popheader" >Add Order</div>
<div id="projectdiv">
    <select id="project"></select>
    <select id="subproject"></select>
</div>

<div class="mdl-textfield mdl-js-textfield">
    <textarea class="mdl-textfield__input" type="text" rows= "5" id="order_desc" ></textarea>
    <label class="mdl-textfield__label" for="order_desc">Project Description</label>
</div>
<button id="postproject" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Add Project</button>
