<div class="dashHeader">
    Projects
    <i class="material-icons">&#xE8B6;</i>

    <span class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="searchbox">

        <label class="mdl-textfield__label" id="searchboxlabel" for="searchbox">Search Projects</label>
    </span>
    <button id="addproject" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
            type="button"><span id="aubtn_span"></span> Add Project
    </button>
</div>
<div class="admin_dash_block_full">
    <div class="blockTitle">
        <div class="pname" id="surnam">Project Number</div>
        <div class="pname" id="pname">Sub Project</div>
        <div class="pvisit" style="margin-left: -8px;">Function</div>
    </div>
    <div id="allprojects">

    </div>
</div>