<div class="admin_dash_block" id="requests">
    <div class="blockTitle">Orders in Proggress</div>
    <div class="blockTitle">
        <div class="pname" id="surnam">Project </div>
        <div class="pname" id="pname">Sub Project</div>
        <div class="pvisit" style="margin-left: -8px;">Function</div>

    </div>
</div>
<div class="admin_dash_block" id="completed_projects">
    <div class="blockTitle">Completed Orders</div>
</div>
<button id="add_order" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
</button>